<!--CABEÇALHO-->
<div class="navbar navbar-static-top">
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="aboveMenu">Clientes</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item routerLink="/clientes/cadastrar">
                    Cadastrar
                </button>
                <button mat-menu-item routerLink="/clientes">
                    Buscar Clientes
                </button>
            </mat-menu>

            <button mat-button disabled>Cidades</button>
        </div>
    </mat-toolbar>
</div>
<!--BODY-->
<!--FILTROS-->
<div class="filtro-busca-cidade container-fluid" style="padding-top: 30px; padding-left: 2%; padding-right: 2%;">
    <mat-card class="container-fluid">
        <mat-card-title class="busque-uma-cidade">
            <span class="material-icons">filter_list</span>
            Filtros
        </mat-card-title>
        <mat-form-field class="example-full-width col-md-3">
            <mat-label>Nome da cidade</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-card-actions>
            <div class="card-action-buttons col-md-3">
                <button mat-raised-button type="submit" class="botao-buscar-cidade">
                    BUSCAR
                </button>
                <button mat-raised-button color="warn" type="reset">LIMPAR</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>