<div>
    <!--CABEÇALHO-->
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="aboveMenu">Clientes</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item routerLink="/cadastros/clientes">
                    Cadastrar Cliente
                </button>
            </mat-menu>

            <button mat-button disabled [matMenuTriggerFor]="belowMenu">Cidades</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Cadastros</button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <!--BODY-->
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
    <p>CIDADES OK</p>
    <p>CIDADES COMPONENT</p>
</div>