<!--CABEÇALHO-->
<div class="navbar navbar-static-top">
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="menu">Clientes</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="clientes">
                    Buscar Clientes
                </button>
            </mat-menu>
            <a mat-button routerLink="/cidades">Cidades</a>
        </div>
    </mat-toolbar>
</div>

<p>editar-clientes works!</p>