<!--CABEÇALHO
<div class="navbar navbar-static-top">
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="menu">Clientes</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/clientes">
                    Buscar Clientes
                </button>
            </mat-menu>
            <a mat-button routerLink="/cidades">Cidades</a>
        </div>
    </mat-toolbar>
</div>
<div fxLayout="column" fxLayoutAlign="start start" style="padding-left: 2%; padding-right: 2%; padding-top: 2%;">
    <mat-card>
        <mat-card-title>
            <mat-icon aria-hidden="false" aria-label="list-icon">reorder</mat-icon>
            Listagem de Cidades
        </mat-card-title>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nomeCidade">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nome/Razão Social </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.nome }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nomeEstado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CPF/CNPJ </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.cpfCnpj }} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="siglaEstado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.nascimento }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </table>
    </mat-card>
</div>-->
<p> ROTA OK </p>