<div>
    <!--CABEÇALHO-->
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="" aling="center">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="aboveMenu">
                Clientes
            </button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item routerLink="cadastros/clientes">
                    Cadastrar
                </button>
                <button mat-menu-item routerLink="clientes">
                    Buscar Clientes
                </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="belowMenu">Cidades</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink="cidades">
                    Cadastros
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
</div>