<div>
    <!--CABEÇALHO-->
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <a mat-button routerLink="/clientes">Clientes</a>
            <a mat-button routerLink="/cidades">Cidades</a>
        </div>
    </mat-toolbar>
    <p>CLIENTE OK</p>
</div>