<!--CABEÇALHO-->
<div class="navbar navbar-static-top">
    <mat-toolbar>
        <span>
            <a class="logo-name" routerLink="">
                <mat-icon>manage_accounts</mat-icon>Gerenciador de Clientes
            </a>
        </span>
        <div class="espaco"></div>
        <mat-icon class="botao-home" routerLink="">home</mat-icon>
        <div class="links-cli-cid">
            <button mat-button [matMenuTriggerFor]="aboveMenu">Clientes</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item routerLink="/clientes/cadastrar">
                    Cadastrar Cliente
                </button>
            </mat-menu>
            <button mat-button routerLink="/cidades">Cidades</button>
        </div>
    </mat-toolbar>
</div>
<!--BODY-->
<div class="espaco-geral-cliente"></div>
<!--FILTROS-->
<div class="accordion container-fluid" style="padding-top: 40px;">
    <mat-card class="container-fluid">
        <mat-accordion class="accordion-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Buscar clientes
                    </mat-panel-title>
                    <mat-panel-description class="mat-panel-description">
                        Clique aqui para utilizar os filtros
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field class="container col-md-3">
                    <mat-label>CPF/CNPJ</mat-label>
                    <input matInput [(ngModel)]="cliente.cpfCnpj" #cpf maxlength="14">
                </mat-form-field>
            </mat-expansion-panel>
            <mat-card-actions>
                <div class="card-action-buttons col-md-3">
                    <button mat-raised-button type="submit" class="button-busca-cliente">
                        BUSCAR
                    </button>
                    <button mat-raised-button color="warn" type="reset">LIMPAR</button>
                </div>
            </mat-card-actions>
        </mat-accordion>
    </mat-card>
</div>